@model VerifyOtpViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/otp.js"></script>
    <link href="~/css/otp.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 class="text-center text-2xl font-bold text-gray-800 mb-4">Verify OTP</h2>
            @Html.ValidationSummary()
            <form asp-action="VerifyOtp" method="post">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="ExpirationTime" value="@Model.ExpirationTime.ToString(@"hh\:mm\:ss")" />
                <div class="mb-4">
                    <label for="otp" class="block text-gray-700 font-medium mb-2">Enter OTP:</label>
                    <input type="number" id="otp" name="Otp" asp-for="Otp"
                           class="form-control" placeholder="Enter OTP" required />
                    <span asp-validation-for="Otp" class="text-danger error-message"></span>
                </div>
                <div id="expirationCountDown" data-otp-count="@Model.ExpirationTime.TotalSeconds"></div>
                <div id="otp-timer" class="timer-container"></div>

                <button type="submit" id="verifyButton" class="btn w-full">
                    Verify OTP
                </button>
            </form>

            <div class="resend-container">
                <div class="resend-message">
                    <input type="hidden" name="Email" value="@Model.Email" id="emailInput" />
                    <button type="button" id="resendOtpButton" class="btn">
                        Resend OTP
                    </button>
                </div>
                <p id="resendMessage" class="text-sm text-gray-600 mt-2"></p>
            </div>
        </div>
    </div>
</body>
</html>
