@model IEnumerable<Bike>
<div class="min-vh-100">
<h2>Bikes Rented by User</h2>
<table class="table">
    <thead>
        <tr>
            <th>Bike Model</th>
            <th>Bike Number</th>
            <th>Location</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bike in Model)
        {
            <tr>
                <td>@bike.BikeModel</td>
                <td>@bike.BikeNumber</td>
                <td>@bike.BikeLocation</td>
                <td>@if(bike.AvailableUpto<=DateTime.Now)
                    {
                        <span>your rented bike is Completed by @bike.AvailableUpto</span>
                    }
                    else
                    {
                        <span>Completed</span>
                    }
            </tr>
        }
    </tbody>
</table>
</div> 
