<h3 class=" flex justify-content-center text-3xl font-bold mt-8">
    Owner Services
</h3>
<div class="flex justify-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8 max-w-4xl">
        <!-- Card 1 -->
        <div class="border border-orange-500 p-4 rounded-lg text-center max-w-xs mx-auto">
            <img alt="Icon representing finding bikes" class="mx-auto mb-4" height="80" src="~/Images/MainPageLogo.png" width="80" />
            <h4 class="text-lg font-bold">
                Easy Earning
            </h4>
            <p class="mt-2 text-sm">
                "Monetize your idle bike effortlessly! Join Bike Buddy's platform to turn your unused asset into income. Rent your bike hassle-free and earn without lifting a finger. Start earning today!"
            </p>
        </div>

        <!-- Card 2 -->
        <div class="border border-orange-500 p-4 rounded-lg text-center max-w-xs mx-auto">
            <img alt="Icon representing lowest cost rentals" class="mx-auto mb-4" height="80" src="~/Images/MainPageLogo.png" width="80" />
            <h4 class="text-lg font-bold">
                Insurance
            </h4>
            <p class="mt-2 text-sm">
                "Maximize your bike's potential! List with Bike Buddy and enjoy exclusive benefits – offer your bike with insurance coverage and GPS tracking. Join now to unlock safety and extra earnings!"
            </p>
        </div>

        <!-- Card 3 -->
        <div class="border border-orange-500 p-4 rounded-lg text-center max-w-xs mx-auto">
            <img alt="Icon representing ride anywhere" class="mx-auto mb-4" height="80" src="~/Images/MainPageLogo.png" width="80" />
            <h4 class="text-lg font-bold">
                Business
            </h4>
            <p class="mt-2 text-sm">
                "Boost your income and join the biking revolution! List your bike on Bike Buddy for unlimited business opportunities. Earn hassle-free with our secure platform. Start unlocking success today!"
            </p>
        </div>
    </div>
</div>