<html>
<head>
    <title>
        Rent and Ride
    </title>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">

        <div class="flex space-x-20 justify-center items-center mt-10 mb-10">
            <div class="text-center">
                <Form asp-controller="RentRide" asp-action="Ride" method="get">
                    <button>
                    <img alt="Person holding a key standing next to a rental motorcycle" class="h-85 w-85" height="400" src="~/Images/bikeride.jpeg" width="400" />
                    <h2 class="text-orange-500  fw-bold text-5xl mt-4">RIDE </h2>
                     </button>
                </Form>
            </div>
            <div class="text-center">
                <form asp-action="Rent" asp-controller="RentRide" method="get">
                    <button>
                        <img alt="Person handing over money to rent a motorcycle" class="h-85 w-85" height="400" src="~/Images/bikerent.jpeg" width="400" />
                        <h2 class="text-orange-500 fw-bold text-5xl mt-4">RENT</h2>
                    </button>
                </form>
            </div>
        </div>
</body>
</html>

